body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  height: 70%;
  margin-top: 40px;
  margin-bottom: 50px;
}

footer {
  height: 5%;
  text-align: center;
}

.textHeader {
  text-align: center;
}

h1 {
  font-family: Georgia, Times, serif;
  color: rgb(2, 103, 105);
  font-weight: lighter;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.child {
  width: 800px;
  height: 440px;
  background-color: rgb(255, 243, 228);
  border-radius: 40px;
}

.newElement {
  height: 20%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  /* background-color: blue; */
  height: 74%;
  border-radius: 40px;
}

.ulList {
  overflow: auto;
  margin: 0 10px 0 10px;
}

.textInput {
  height: 40%;
  width: 70%;
  border: 2px solid rgb(255, 241, 216);
  border-radius: 10px;

}

.addButton {
  margin-left: 6%;
  height: 46%;
  width: 10%;
  background-color: rgb(149, 254, 219);
  border: 2px solid rgb(198, 250, 233);
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

ul {
  height: 100%; 
  overflow-y :auto; 
  height:305px;
  /* background-color: blueviolet; */
}

.list-items::marker {
  content: counter(list-item) "› ";
  color: rgb(2, 103, 105);
  padding-inline-start: 1ch;
  font-weight: lighter;
}

.list-items {
  font-weight: bold;
  margin: 15px 0 15px 0;
}

.list-items-button-view {
  margin-left: 10px;
  background-color: rgb(151, 239, 240);
  border: 3px solid rgb(183, 232, 233);
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.list-items-button-delete {
  background-color: rgb(240, 133, 133);
  border: 3px solid rgb(233, 183, 183);
  margin-left: 10px;
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.list-items-button-delete-line-through {
  background-color: rgb(129, 129, 129);
  border: 3px solid rgb(78, 78, 78);
  margin-left: 10px;
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.list-items-button-edit {
  background-color: rgb(96, 236, 91);
  border: 3px solid rgb(160, 226, 107);
  margin-left: 10px;
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.list-items-button-home {
  background-color: rgb(91, 236, 229);
  border: 3px solid rgb(157, 235, 218);
  margin-left: 10px;
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

.list-items-button-edit-line-through {
  background-color: rgb(129, 129, 129);
  border: 3px solid rgb(78, 78, 78);
  margin-left: 10px;
  font-family: Georgia, Times, serif;
  color: black;
  font-weight: lighter;
  border-radius: 5px;
  cursor: pointer;
}

/* SCROOLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  wheat; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(253, 217, 151); 
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

.checkbox {
  margin-top: 7px;
}

 .regular-checkbox { 
  /* position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7; */
  cursor: pointer;
}

/* regular-checkbox:active, .regular-checkbox:checked:active {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

.regular-checkbox:checked {
	content: '✕';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: #CB22ED;
    line-height: 0;
    -webkit-transition: all .2s;
        transition: all .2s;
} */

.line-through{
  text-decoration: line-through;
}
